<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        W3D6 Q3_4
    </title>
</head>

<body>

        <ul>
            <li>Name: <%= name %>
            </li>
            <li>Price: <%= price %>
            </li>
            <li>Description: <%= description %>
            </li>
            <li>Id: <%= id %>
            </li>
        </ul>

        <form action="/addToCart" method="POST">
            <input type="hidden" value="<%= id %>" name="id"></hidden>
            <button type="submit">Add to Cart</button>
        </form>

        
</body>

</html>