<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        W3D6 Q3_4
    </title>
</head>

<body>

        <ul>
            <li>Name: <%= name %>
            </li>
            <li>Price: <%= price %>
            </li>
            <li>Description: <%= description %>
            </li>
            <li>Id: <%= id %>
            </li>
        </ul>

        <form action="/addToCart" method="POST">
            <input type="hidden" value="<%= name %>" name="name"></hidden>
            <input type="hidden" value="<%= price %>" name="price"></hidden>
            <input type="submit" value="Add to Cart"/>
        </form>
    

        
</body>

</html>